doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    img(src="/images/001.jpg", alt="")
    img(src="/images/002.jpg", alt="")
    img(src="/static/images/001.jpg", alt="")
    img(src="/static/images/002.jpg", alt="")
    block content
